.users-goals-list
  display: flex
  flex-direction: column
  .goal-item
    border: solid black 1px
    border-radius: 3pt
    padding: 3pt
    margin: 3pt
    background-color: white
    .goal-item-content
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

.mat-success
  background-color: green
  color: #fff
