@import "src/app/scss/color"

.users-goals-list
  display: flex
  flex-direction: column
  .goal-item
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25)
    border-radius: 3pt
    padding: 3pt
    margin: 3pt
    background-color: white
    .goal-item-content
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      margin-left: 5pt

.mat-success
  background-color: $to-da-green
  color: #fff
