<nav class="navigation">
  <div class="toolbar-logo">
    <a routerLink="/dashboard"><img class="logo" [src]="" alt=""></a>
  </div>

  <div class="toolbar-title">
    TO-DA
  </div>

  <div class="toolbar-navigate">
<!--    <app-notice-bell></app-notice-bell>-->
    <div class="user">
      <span class="user-name">%USERNAME%</span>
      <span class="fa fa-angle-down user-settings"></span>
      <ul class="user-settings-panel">
        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></li>
        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Achivements</a></li>
      </ul>
    </div>


  </div>
</nav>
