<H1>Create task</H1>
<form (ngSubmit)="submit(createForm)" #createForm="ngForm">
  <div class="create-goal-form">
    <mat-form-field appearance="outline" class="goal-text">
      <mat-label>Goal text</mat-label>
      <label>
        <input matInput placeholder="text" name="text" ngModel/>
      </label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select name="type" ngModel>
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let type of types" value="{{ type }}">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Approaches Number</mat-label>
      <label>
        <input type="number" matInput name="approachesCount" ngModel="">
      </label>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="create-goal-form-topics" appearance="outline">
      <mat-chip-list #chipList aria-label="Topics selection">
        <mat-chip
          *ngFor="let topic of topics"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(topic)">
          {{topic}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <label>
          <input
            placeholder="Add topic..."
            #topicInput
            [formControl]="topicCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </label>
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic">
          {{topic}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="button-panel">
      <button mat-raised-button color="primary">Add</button>
      <button mat-raised-button color="accent">Cancel</button>
    </div>
  </div>
</form>
